# editorconfig.org

# Top-level file
root = true

[*]
# Use spaces instead of tabs for indentation
indent_style = space
# 2 spaces per indent level in code
indent_size = 2
# LF line endings (as on Linux)
end_of_line = lf
# UTF-8 encoding
charset = utf-8
# Remove all whitespace characters before line endings
trim_trailing_whitespace = true
# Automatically insert a single empty line at the end of text files
insert_final_newline = true

[*.md]
# Disable this option for Markdown files
trim_trailing_whitespace = false
