[Unit]
Description=PPP {{ pillar['serviceType'] }} service (%i)
After=network-online.target

[Service]
{% if pillar['serviceType'] is defined %}
Type={{ pillar['serviceType'] }}
{% else %}
Type=simple
{% endif %}
User=pppuser
Group=ppp
{% if pillar['domain'] is defined and pillar['workingDirectory'] is defined %}
ExecStartPre=+/bin/cp /etc/letsencrypt/live/{{ pillar['domain'] }}/fullchain.pem {{ pillar['workingDirectory'] }}/fullchain.pem
ExecStartPre=+/bin/cp /etc/letsencrypt/live/{{ pillar['domain'] }}/privkey.pem {{ pillar['workingDirectory'] }}/privkey.pem
ExecStartPre=+/bin/chmod 644 {{ pillar['workingDirectory'] }}/privkey.pem
{% endif %}
{% if pillar['execStart'] is defined %}
ExecStart={{ pillar['execStart'] }}
{% else %}
ExecStart=/bin/node /opt/ppp/lib/aspirant/main.mjs
{% endif %}
PrivateTmp=yes
ProtectHome=read-only
NoNewPrivileges=yes
{% if pillar['serviceType'] != 'oneshot' %}
KillSignal=2
{% if pillar['workingDirectory'] != 'oneshot' %}
WorkingDirectory={{ pillar['workingDirectory'] }}
{% endif %}
{% if pillar['environment'] is defined %}
{% for k, v in pillar['environment'].items() %}
Environment="{{ k }}={{ v }}"
{% endfor %}
{% endif %}
RestartSec=1s
Restart=always
{% endif %}

[Install]
WantedBy=multi-user.target
