[Unit]
Description=PPP {{ pillar['service_type'] }} service timer (%i)
After=network-online.target
Requires=ppp@%i.service

[Timer]
AccuracySec=250ms
OnBootSec=5s
{% if pillar['on_unit_inactive_sec'] is defined %}
OnUnitInactiveSec={{ pillar['on_unit_inactive_sec'] }}
{% else %}
OnUnitInactiveSec=1s
{% endif %}
Unit=ppp@%i.service

[Install]
WantedBy=multi-user.target
