[Unit]
Description=PPP {{ pillar['service_type'] }} service (%i)
After=network-online.target

[Service]
{% if pillar['service_systemd_type'] is defined %}
Type={{ pillar['service_systemd_type'] }}
{% else %}
Type=simple
{% endif %}
User=pppuser
Group=ppp
{% if pillar['service_domain'] is defined %}
ExecStartPre=+/bin/cp /etc/letsencrypt/live/{{ pillar['service_domain'] }}/fullchain.pem /opt/ppp/lib/services/%i/fullchain.pem
ExecStartPre=+/bin/cp /etc/letsencrypt/live/{{ pillar['service_domain'] }}/privkey.pem /opt/ppp/lib/services/%i/privkey.pem
{% endif %}
{% if pillar['exec_start'] is defined %}
ExecStart={{ pillar['exec_start'] }}
{% else %}
ExecStart=/bin/node /opt/ppp/lib/services/%i/main.mjs
{% endif %}
PrivateTmp=yes
ProtectHome=read-only
NoNewPrivileges=yes
{% if pillar['service_systemd_type'] != 'oneshot' %}
Environment=DIRECTORY=/opt/ppp/lib/services/%i
WorkingDirectory=/opt/ppp/lib/services/%i
KillSignal=2
RestartSec=1s
Restart=always
{% endif %}

[Install]
WantedBy=multi-user.target
